// Importando o mixin de centralização
@import 'mixins';

#produtos {
    padding: 50px 20px;
    background-color: #fffafac7;
    text-align: center;

    h2 {
        text-align: center;
        font-size: $font-size-large;
        margin-bottom: 40px;
    }

    .produtos-grid {
        display: flex;
        flex-wrap: wrap; /* Para os produtos se ajustarem */
        justify-content: center; /* Centraliza os itens */
        gap: 20px;
    }

    .produto {
        background-color: #fffafac7;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

        img {
            width: 100%;
            height: auto;
            border-radius: 15px;
        }

        h3 {
            margin: 15px 0;
            font-size: $font-size-medium;
        }

        p {
            font-size: $font-size-small;
            margin-bottom: 20px;
        }

        button {
            @include botao($cor-primary);
        }
    }
}
