// Cores
$cor-background: #fffafac7;
$cor-primary: #fffafac7;
$cor-footer: #fffafac7;
$cor-texto: #635b5ce1;
$cor-btn-hover: darken($cor-primary, 10%);
$cor-btn-active: #2ed118;

// Fontes
$font-family: 'Arial', sans-serif;
$font-size-base: 1rem;
$font-size-large: 2.5rem;
$font-size-medium: 1.2rem;
$font-size-small: 1.1rem;
